<header>
  <div class="container-fluid header-content">
    <ul>
      <li>
        <a rel="nofollow" href="#">VendHQ</a>
      </li>
      <li>
        <a rel="nofollow" href="#">Sign In</a>
      </li>
    </ul>

    <ul>
      <li>
        <a rel="nofollow" href="#">Help</a>
      </li>
      <li>
        <a rel="nofollow" href="#">Vend U</a>
      </li>
      <li>
        <a rel="nofollow" href="#">Blog</a>
      </li>
      <li class="icons">
        <a href="#" class="icon"><img src="./images/chat_icon.svg"/></a>
      </li>
      <li class="icons">
        <a href="#" class="icon"><img src="./images/phone_icon.svg"/></a>
      </li>
      <li class="icons">
        <a href="#" class="icon"><img src="./images/flag-nz.svg"/></a>
      </li>
    </ul>
  </div>
</header>

<div class="container-fluid">
  <div class="row main-content">
    <div class="signin-container">
      hello world
    </div>

    <div class="carousel-container">
      <div id="carousel-outer" class="carousel slide" data-ride="carousel" data-interval="7000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-outer" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-outer" data-slide-to="1"></li>
          <li data-target="#carousel-outer" data-slide-to="2"></li>
          <li data-target="#carousel-outer" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="./images/gift-cards.jpg" alt="...">
            <div class="carousel-caption">
              Attract new customers & increase revenue with gift cards.
            </div>
          </div>
          <div class="item">
            <img src="./images/cash-management.jpg" alt="...">
            <div class="carousel-caption">
              Track all cash movements from cash float to register closure.
            </div>
          </div>
          <div class="item">
            <img src="./images/register.jpg" alt="...">
            <div class="carousel-caption">
              The beautifully fast web-based checkout experience. Try it now!
            </div>
          </div>
          <div class="item">
            <img src="./images/vend-u.jpg" alt="...">
            <div class="carousel-caption">
              Retail ebooks, guides, live events, webinars and training.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
