body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-image: url(../images/background.jpg);
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #dfdfdf;
}

ul {
  list-style: none;
}

.header-content {
  max-width: 80%;
}

header {
  margin: 0 auto;
  height: 0;
  overflow: hidden;
  background-color: #525252;
  font-family: proxima-nova,sans-serif;

  /*height: 0;*/
  background-color: #525252;
  font-family: proxima-nova,sans-serif;
  position: static;
  z-index: 1;
  overflow: hidden;
  -moz-transition: .2s;
  -o-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
}

header ul {
  float: right;
  margin: 0;
  font-size: 11px;
  font-weight: 700;
}

header ul:first-child {
  float: left;
}

header ul li {
  margin: 0;
  float: left;
  line-height: 30px;
  height: 30px;
}

header ul li.icons {
  margin: 0 0 0 16px;
  width: auto;
  position: relative;
}

header ul li.icons a {
  display: inline-block;
  /*margin-top: 2px;*/
  overflow: visible;
  height: 30px;
  vertical-align: top;
  padding: 0;
  width: 14px;
}

header ul li a {
  padding: 0 10px;
  display: inline-block;
  color: #dfdfdf;
  width: 101%;
  height: 100%;
}

.signin-container {
  background-color: #ffffff;
  height: 100vh;
}

.signin-outer {
  padding: 50px 40px;
  height: 100%;
}

.signin-header {
  display: flex;
  align-items: center;
}

.signin-header-text {
  font-size: 250%;
  font-weight: 300;
  padding-left: 14px;
}

.signin-body {
  padding-top: 40px;
}

.signin-body-text {
  float: right;
  opacity: 0.6;
}

.form-group {
  margin: 0;
  border-radius: 0;
}

#email-or-username {
  margin-top: 20px;
  border-radius: 0;
  padding: 20px 12px;
}

#password {
  margin-top: 10px;
  border-radius: 0;
  padding: 20px 12px;
}

#form-submit-button {
  background-color: #41AF4B;
  color: #FFFFFF;
  width: 100%;
  margin-top: 20px;
  float: right;
  width: 40%;
  height: 49px;
}

.carousel-container {
  background-color: #525252;
  height: 100vh;
}

.carousel-outer {
  padding: 50px 40px;
  height: 100%;
}

.carousel-header {
  height: 57px;
}

.carousel-text {
  color: #bfbfbf;
  font-weight: 600;
}

.carousel-inner {

}

.carousel-caption {
  position: relative;
  margin-top: 20px;
  left: 0;
}

.carousel-indicators {
  position: relative;
  bottom: 0;
}

.carousel-indicators li {
  background-color: #777;
  border-color: #777;
  width: 8px;
  height: 8px

}

.carousel-indicators .active {
  width: 8px;
  height: 8px;
  margin: 1px;
  border: none;
}

.vend-logo {
  height: 57px;
}

@media (min-width: 768px) {
  header {
    height: 30px;
    overflow: visible;
  }

  .main-content {
    margin-top: 120px;
  }

  .signin-container {
    margin-right: 20%;
    width: 40%;
    height: 400px;
    float: right;
  }

  .form-group {
    margin: 0;
    border-radius: 0;
  }

  #form-submit-button {
    /*margin-top: 20px;*/
    width: 40%;
  }

  .carousel-container {
    margin-left: 20%;
    width: 20%;
    height: 400px;
  }
}
