body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-image: url(../images/background.jpg);
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #dfdfdf;
}

ul {
  list-style: none;
}

.header-content {
  max-width: 74%;
}

header {
  height: 0;
  margin: 0 auto;
  overflow: hidden;
  background-color: #525252;
  font-family: proxima-nova,sans-serif;
}

header ul {
  float: right;
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-weight: 700;
}

header ul:first-child {
  float: left;
}

header ul li {
  float: left;
  height: 30px;
  margin: 0 10px;
  line-height: 30px;
}

header ul li.icons {
  position: relative;
  width: auto;
  margin: 0 10px 0 16px;
}

header ul li.icons a {
  display: inline-block;
  height: 30px;
  width: 14px;
  padding: 0;
  overflow: visible;
  vertical-align: top;
}

header ul li a {
  display: inline-block;
  width: 101%;
  height: 100%;
  padding: 0 10px;
  color: #dfdfdf;
}

.signin-container {
  min-height: 100vh;
}

.signin-outer {
  height: 100%;
  min-height: 100vh;
  padding: 10vh 8vw;
  background-color: #ffffff;
}

.signin-header {
  display: flex;
  align-items: center;
  width: auto;
  padding-left: 5%;
}

#signin-header-text {
  padding-left: 2%;
  font-size: 250%;
  font-weight: 400;
}

.signin-body {
  padding-top: 10vh;
}

#signin-indie-text {
  font-size: 110%;
  font-weight: 500;
}

#signin-body-text {
  display: none;
  float: right;
  color: inherit;
  opacity: 0.6;
}

#signin-body-text-alt {
  display: block;
  float: right;
  color: inherit;
  opacity: 0.6;
}

form {
  padding-top: 2%;
}

.form-group {
  margin: 0;
  border-radius: 0;
}

#email-or-username {
  margin-top: 2vh;
  padding: 25px 12px;
  border-radius: 0;
  opacity: 0.7;
}

#password {
  margin-top: 10px;
  padding: 25px 12px;
  border-radius: 0;
  opacity: 0.7;
}

#form-submit-button {
  float: right;
  height: 44px;
  width: 100%;
  margin-top: 20px;
  background-color: #41AF4B;
  color: #FFFFFF;

}

#signin-forgotten-text {
  display: flex;
  position: relative;
  justify-content: center;
  top: 20px;
  width: 100%;
  padding-bottom: 12px;
  font-weight: 500;
}

#no-account-text {
  display: none;
}

.carousel-container {
  min-height: 100vh;
}

#carousel-outer {
  height: 100%;
  min-height: 100vh;
  padding: 10vh 8vw;
  background-color: #525252;
}

.carousel-header {
  padding-bottom: 6vh;
}

.carousel-text {
  color: #dfdfdf;
  font-weight: 500;
  font-size: 120%;
}

.carousel-text img {
  vertical-align: inherit;
}

.carousel-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-caption {
  position: relative;
  left: 0;
  margin-top: 20px;
}

.carousel-indicators {
  display: none;
  position: absolute;
  bottom: -12px;
}

.carousel-indicators li {
  width: 8px;
  height: 8px
  background-color: #777;
  border-color: #777;
}

.carousel-indicators .active {
  height: 8px;
  width: 8px;
  margin: 1px;
  border: none;
}

.vend-logo {
  height: 57px;
}

@media only screen and (min-device-width: 769px) {
  header {
    height: 30px;
    overflow: visible;
  }

  .main-content {
    margin-top: 120px;
  }

  .signin-container {
    float: right;
    min-height: 0;
    height: 400px;
    width: 37%;
    margin-right: 21%;
  }

  .signin-outer {
    min-height: 0;
    padding: 50px 40px;
    border-radius: 0 5px 5px 0;
  }

  .signin-header {
    padding-left: 0;
  }

  .signin-body {
    padding-top: 40px;
  }

  #signin-body-text {
    display: block;
  }

  #signin-body-text-alt {
    display: none;
  }

  form {
    padding-top: 0;
  }

  .form-group {
    margin: 0;
    border-radius: 0;
  }

  #email-or-username {
    margin-top: 25px;
    padding: 20px 12px;
  }

  #password {
    padding: 20px 12px;
  }

  #form-submit-button {
    width: 40%;
  }

  #signin-forgotten-text {
    justify-content: flex-start;
    top: 34px;
    width: 60%;
    padding-bottom: 0;
  }

  #no-account-text{
    display: block;
    position: relative;
    top: 20px;
    color: #ffffff;
    font-size: 125%;
  }

  .carousel-container {
    min-height: 0;
    height: 400px;
    width: 22%;
    margin-left: 20%;
  }

  #carousel-outer {
    min-height: 0;
    padding: 50px 40px;
    border-radius: 5px 0 0 5px;
  }

  .carousel-header {
    height: 57px;
    padding-bottom: 0;
  }

  .carousel-indicators {
    display: block;
  }
}
